@use "../utilities" as *;



.about-9 {
    &__thumb {
        position: relative;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__counter {
        background: #EF1A22;
        padding: 23px 16px;
        border-radius: 15px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        gap: 19px;

        @include breakpoint(sm) {
            padding: 15px;
        }

        .user {
            width: 102px;
            height: 102px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 500px;
            background: rgb(255 255 255 / 20%);

            @include breakpoint(sm) {
                display: none;
            }

        }

        .counter {
            h4 {
                font-size: 48px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 0;
                color: var(--rr-color-common-white);

                @include breakpoint(sm) {
                    font-size: 30px;
                }
            }

            >span {
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: var(--rr-color-common-white);
            }
        }
    }

    &__content {
        margin-left: 120px;

        @include breakpoint(xl) {
            margin-left: 70px;
        }

        @include breakpoint(lg) {
            margin-left: 30px;
        }

        @include breakpoint(md) {
            margin-left: 0px;
            margin-top: 30px;
        }

        .pixfix-btn {
            display: flex;
            align-items: center;
            gap: 30px;

            @include breakpoint(sm) {
                display: block;
            }

            .contact {
                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28.8px;
                    color: #171717;
                    display: block;
                    font-family: var(--rr-ff-body);
                }

                a {
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 36px;
                    letter-spacing: -0.7200000286px;
                    color: #171717;
                    font-family: var(--rr-ff-body);
                }
            }
        }
    }

    &__list {
        margin-bottom: 28px;

        ul {
            list-style: none;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                margin-bottom: 8px;
                color: var(--rr-color-common-black);

                i {
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    border-radius: 30px;
                    text-align: center;
                    line-height: 20px;
                    margin-right: 7px;
                    background-color: #EF1A22;
                    color: var(--rr-color-common-white);
                }
            }
        }
    }

    .rr-secondary-btn {
        background: #EF1A22;
        color: var(--rr-color-common-white);
        padding: 19.5px 31.4px;

        i {
            margin-left: 10px;
        }

        &:before {
            background: #4F2325;
        }
    }

    &__call {
        display: flex;
        align-items: center;
        gap: 12px;

        >span {
            width: 62px;
            height: 62px;
            border: 1px solid #E3E3E3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 500px;

            i {
                font-size: 20px;
                color: #EF1A22;
            }
        }
        .contact{
            a:hover{
                color: #EF1A22;
            }
        }
    }

    .section-heading {
        margin-bottom: 25px;

        .section-title {
            @include breakpoint(md) {
                margin: 0;
            }

            @include breakpoint(sm) {
                font-size: 30px;
            }
        }
    }
}