@use "../utilities" as *;



.about-10 {
    &__thumb {
        &__wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            margin-bottom: 120px;

            &::before {
                content: "";
                width: 16.89px;
                height: 260.33px;
                background: #FAD105;
                border-radius: 20px;
                position: absolute;
                left: 50px;
                top: 0;
                z-index: -1;
                animation: upDown .8S infinite alternate;

                @include breakpoint(xl) {
                    left: 0;
                }

                @include breakpoint(md) {
                    left: 50px;
                }
            }
        }

        text-align: end;
        margin-right: 65px;

        @include breakpoint(md) {
            text-align: center;
            margin-right: 0;
        }

        img {
            border-radius: 20px;

            &.image-2 {
                position: absolute;
                right: -59px;
                bottom: -120px;
                border: 9px solid #fff;
                filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.07));

                @include breakpoint(lg) {
                   right: 0;
                }
            }
        }
    }

    &__shape-01 {
        position: absolute;
        left: 0;
        bottom: -75px;
        z-index: -1;
    }

    &__content {
        margin-left: 70px;

        @include breakpoint(xl) {
            margin-left: 50px;
        }

        @include breakpoint(lg) {
            margin-left: 0px;
        }

        @include breakpoint(md) {
            margin-top: 30px;
        }

        .section-heading {
            margin-bottom: 28px;

            .section-title {
                @include breakpoint(md) {
                    margin: 0px;
                }
            }

            .sub-heading {
                margin-bottom: 10px;
            }
        }

        .section-title-8-dec {
            color: #6E777D;
        }

        &__list {
            &__item {
                display: flex;
                align-items: start;
                gap: 20px;
                margin-bottom: 20px;

                @include breakpoint(sm) {
                    display: block;
                }

                .icon {
                    min-width: 30px;
                    height: 30px;
                    background: #FF3600;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30px;

                    @include breakpoint(sm) {
                        max-width: 30px;
                    }
                }

                .title {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28px;
                    color: #24231D;
                    margin-bottom: 8px;
                }

                .dec {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #6E777D;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}