@use "../utilities" as *;




.blog-10 {
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(md) {
            display: block;
        }

        .section-heading {
            margin-bottom: 0;

            @include breakpoint(md) {
                margin-bottom: 20px;
            }
        }
    }

    &__item {
        background: #F8F4EF;
        padding: 40px;
        padding-right: 42px;

        @include breakpoint(xl) {
            padding: 40px;
        }

        @include breakpoint(md) {
            padding: 28px;
        }

        @include breakpoint(sm) {
            padding: 20px;
        }
    }


    &__btn {
        .rr-secondary-btn {
            background: var(--rr-color-theme-primary2);
            color: var(--rr-color-common-white);

            i {
                margin-left: 10px;
            }
        }
    }

    &__thumb {
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: .3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__meta {
        ul {
            background: var(--rr-color-theme-primary2);
            border-radius: 10px;
            list-style: none;
            display: inline-block;
            padding: 7.5px 11px;
            margin-top: 20px;
            margin-bottom: 10px;

            li {
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                color: #fff;
                text-transform: uppercase;
                display: inline-block;
                margin-right: 7px;
                font-family: var(--rr-ff-heading);

                span {
                    margin-right: 4px;

                    svg {
                        margin-top: -3px;
                    }
                }

                a:hover {
                    color: #14534F;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;

        a:hover {
            color: var(--rr-color-theme-primary2);
        }

        @include breakpoint(lg) {
            font-size: 27px;

            br {
                display: none;
            }
        }

        @include breakpoint(md) {
            font-size: 22px;
        }

        @include breakpoint(sm) {
            font-size: 20px;
            line-height: 32px;
        }
    }

    &__dec {
        margin-bottom: 41px;
        margin-top: 20px;
        color: var(--rr-color-common-black);

        @include breakpoint(xl) {
            font-size: 15px;
        }
    }

    &__content {
        .rr-secondary-btn {
            background: transparent;
            color: #232323;
            padding: 0;

            i {
                margin-left: 10px;
            }

            &::before {
                display: none;
            }

            &:hover {
                color: var(--rr-color-theme-primary2);
            }
        }
    }

    .section-heading {
        .section-title {
            margin: 0;
        }
    }
}