@use "../utilities" as *;

.blog-8 {
    background-color: #F6F3F2;

    .section-heading {
        margin-bottom: 38px;

        .section-title {
            @include breakpoint(md) {
                max-width: inherit;
            }
        }
    }

    &__item {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 40px;
        margin-bottom: 30px;

        @include breakpoint(sm) {
            padding: 20px 15px;
        }

        &.item-right {
            padding: 20px;
            display: flex;
            align-items: center;
            column-gap: 20px;

            @include breakpoint(lg) {
                display: block;
            }

            @include breakpoint(md) {
                display: flex;
            }
            @include breakpoint(sm) {
                display: block;
            }

            .blog-8 {
                &__thumb {
                    min-width: 250px;
                    height: 250px;

                    @include breakpoint(lg) {
                        margin-bottom: 30px;
                    }

                    @include breakpoint(md) {
                        margin-bottom: 0px;
                    }
                    @include breakpoint(sm) {
                        margin-bottom: 30px;
                    }
                }

                &__title {
                    @include breakpoint(xl) {
                        font-size: 25px;
                    }

                    @include breakpoint(lg) {
                        font-size: 30px;
                    }

                    @include breakpoint(sm) {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    &__meta {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 10px;

            li {
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                color: #6E777D;
                display: flex;
                align-items: center;
                gap: 9px;
                text-transform: uppercase;
                font-family: var(--rr-ff-heading);

                a:hover {
                    color: #2AB97E;
                }
            }
        }
    }

    &__thumb {
        height: 304px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;

        a:hover {
            color: #2AB97E;
        }

        @include breakpoint(md) {
            br {
                display: none;
            }
        }
    }

    &__dec {
        margin-bottom: 0px;
        color: #000000;
    }

    &__btn {
        margin-top: 40px;

        a {
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            text-transform: uppercase;
            color: #232323;
            font-family: var(--rr-ff-heading);

            i {
                margin-left: 10px;
                font-weight: 700;
            }

            &:hover {
                color: #2AB97E;
            }
        }
    }
}