@use "../utilities" as *;



.counter-11 {
    background: var(--rr-color-heading-primary);
    border-radius: 40px 40px 0 0;

    &__text {
        .section-heading {
            margin-bottom: 30px;
            background: var(--rr-color-theme-primary2);
            border-radius: 10px;
            padding: 45px 40px;

            @include breakpoint(lg) {
                padding: 45px 25px;
            }

            .section-title {
                margin: 0;
            }
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
            border-radius: 10px;
        }

        @include breakpoint(md) {
            margin-bottom: 30px;
        }
    }

    &__count {
        text-align: center;
        border-radius: 10px;
        padding: 59px 20px;
        background: rgb(255 255 255 / 5%);

        h4 {
            font-size: 48px;
            font-weight: 600;
            line-height: 58px;
            letter-spacing: -1.44px;
            color: #fff;
            margin-bottom: 0;

            .odometer.odometer-auto-theme,
            .odometer.odometer-theme-default {
                font-family: var(--rr-ff-heading);
                vertical-align: inherit;
            }
        }
    }

    &__icon {
        margin-top: 28px;
        margin-bottom: 18px;
    }

    &__dec {
        color: #fff;
        margin-bottom: 0;
    }
}

.brand-11__area {
    background: var(--rr-color-theme-primary2);
    padding: 40px;
    border-radius: 0;

    .swiper-wrapper {
        transition-timing-function: linear;
    }
}