@use "../utilities" as *;



.cta-10 {
    margin-bottom: -67px;
    position: relative;

    &__wrapper {
        background-color: #FAD105;
        border-radius: 20px;
        padding: 76px 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(lg) {
            padding: 70px 40px;
        }

        @include breakpoint(md) {
            display: block;
            padding: 60px 40px;
        }
        @include breakpoint(sm) {
            padding: 50px 15px;
        }

        .content {
            .title {
                font-size: 48px;
                font-weight: 600;
                line-height: 58px;
                letter-spacing: -1.44px;
                margin-bottom: 0;
                color: var(--rr-color-heading-primary);

                @include breakpoint(md) {
                    margin-bottom: 20px;
                }
                @include breakpoint(sm) {
                    font-size: 30px;
                }
            }
        }
    }

    &__btn {
        .rr-secondary-btn {
            background: #14534F;
            color: var(--rr-color-common-white);
            padding: 19.5px 42px;
        }
    }
}