@use "../utilities" as *;



.cta-9 {

    &__area {
        margin-bottom: -128px;
        position: relative;
        z-index: 9;
    }

    &__wrapper {
        gap: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: #EF1A22;
        justify-content: space-between;

        @include breakpoint(md) {
            flex-wrap: wrap;
            gap: 30px 0;
        }

        .content {
            padding-left: 60px;

            @include breakpoint(md) {
                padding-left: 0;
            }

            .title {
                @include breakpoint(md) {
                    br {
                        display: none;
                    }
                }

                @include breakpoint(sm) {
                    font-size: 29px;
                }
            }
        }

        .media {
            border-radius: 193.5px 20px 20px 193.5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include breakpoint(md) {
                border-radius: 20px 193px 193px 20px;
            }
        }
    }
}

