@use "../utilities" as *;


.experience-8 {
    &__content {
        padding: 0 20px;

        @include breakpoint(sm) {
            margin: 30px 0;
        }

        @include breakpoint(lg) {
            padding: 0;
        }

        .section-heading {
            margin-bottom: 0;

            .section-title-8-dec {
                padding: 0 46px;
                margin-bottom: 25px;
                margin-top: 20px;

                @include breakpoint(lg) {
                    padding: 0;
                }
            }
        }


        .rr-secondary-btn {
            background: #6BC33F;
            color: #fff;
            padding: 19.5px 32.2px;

            i {
                margin-left: 5px;
            }
        }
    }

    &__thumb {
        @include breakpoint(sm) {
            text-align: center !important;
        }

        img {
            border-radius: 10px;
        }
    }
}

.btn-green {
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--rr-color-common-white);
    background-color: var(--rr-color-theme-green2);

    @include breakpoint(sm) {
        margin: 0;
    }
}