@use "../utilities" as *;



.faq-8 {
    background: #F6F3F2;

    &__tab {
        .accordion-item {
            border: 1px solid #000000;
            border-radius: 10px;
            margin-bottom: 30px;
            color: inherit;
            overflow: hidden;
            background-color: transparent;

            &:last-of-type {
                margin-bottom: 0;

                @include breakpoint(md) {
                    margin-bottom: 30px;
                }
            }

            &:not(:first-of-type) {
                border-top: 1px solid #000000;
            }

            .accordion-body {
                padding: 0 35px 35px 80px;

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28.8px;
                    margin-bottom: 0;
                    color: #000000;
                }

                @include breakpoint(lg) {
                    padding: 0 35px 35px;
                }

                @include breakpoint(sm) {
                    padding: 0 20px 20px;
                }
            }

            .accordion-header {
                .accordion-button {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    cursor: pointer;
                    overflow: hidden;
                    background: transparent;
                    letter-spacing: -0.7200000286102295px;
                    padding: 41px 35px 21px 30px;
                    transition: .3s;
                    font-family: var(--rr-ff-heading);

                    @include breakpoint(sm) {
                        padding: 20px;
                    }

                    @include breakpoint(sm) {
                        font-size: 20px;
                    }

                    span {
                        margin-right: 22px;

                        @include breakpoint(sm) {
                            display: none;
                        }
                    }

                    &.collapsed {
                        padding: 32px 35px 45px 30px;

                        @include breakpoint(sm) {
                            padding: 20px;
                        }
                    }

                    &:focus {
                        z-index: 3;
                        border-color: inherit;
                        outline: 0;
                        box-shadow: inherit;
                    }

                    &::after {
                        margin-left: auto;
                        content: "\2b";
                        height: inherit;
                        line-height: 1;
                        background-image: inherit;
                        font-family: "Font Awesome 6 Pro";
                    }

                    &:not(.collapsed) {
                        color: inherit;
                        background-color: inherit;
                        box-shadow: inherit;

                        &::after {
                            content: "\f068";
                            transform: inherit;
                        }
                    }
                }
            }
        }

    }

    &__thumb {
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
            width: 147px;
            height: 147px;
            background: #05AC39;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #FEC000;
            font-size: 30px;
            border-radius: 500px;
            animation: rippleOne 3s infinite;

            @include breakpoint(sm) {
                width: 100px;
                height: 100px;
            }
        }
    }
}