@use "../utilities" as *;



.footer-11 {
    background-color: #040401;
    border-radius: 40px;
    margin-bottom: 30px;

    &__dec {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: var(--rr-color-common-white);
        margin-top: 44px;
    }

    &__widget {
        &.widget-1 {
            margin-left: 20px;

            @include breakpoint(xl) {
                margin-left: 0px;
            }
        }

        &.widget-2 {
            margin-left: 38px;

            @include breakpoint(xl) {
                margin-left: 0px;
            }
        }

        &.widget-3 {

            @include breakpoint(xl) {
                margin-left: -20px;
            }

            @include breakpoint(lg) {
                margin-left: 0px;
            }
        }

        &.widget-4 {
            margin-left: 20px;
            margin-right: -20px;

            @include breakpoint(xl) {
                margin-left: -20px;
                margin-right: 0px;
            }

            @include breakpoint(lg) {
                margin-left: 0px;
            }
        }
    }

    &__input {
        position: relative;
        max-width: 300px;
        margin-bottom: 24px;

        input {
            border: 1px solid rgb(255 255 255);
            border-radius: 30px;
            background: transparent;
            width: 100%;
            height: 56px;
            padding: 0 20px;
            padding-right: 55px;
            color: var(--rr-color-common-white);

            @include tp-placeholder {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                color: rgb(255, 255, 255, .4);
                font-family: var(--rr-ff-heading);
            }
        }
    }

    &__btn {
        position: absolute;
        top: 3px;
        right: 3px;

        .rr-secondary-btn {
            width: 50px;
            height: 50px;
            padding: 0;
            border-radius: 200px;
            background: var(--rr-color-theme-primary);
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                margin-left: 0;
                color: var(--rr-color-common-white);
                font-size: 16px;
            }
        }
    }

    &__social {
        a {
            font-size: 16px;
            color: var(--rr-color-common-white);
            margin-right: 21px;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                color: var(--rr-color-theme-primary);
            }
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: #fff;
        margin-bottom: 33px;
    }

    &__menu {
        ul {
            list-style: none;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                color: #fff;
                margin-bottom: 22px;

                &:last-of-type {
                    margin-bottom: 0;
                }

            }
        }
    }

    &__contact {
        &__item>span {
            min-width: 40px;
            height: 40px;
            background: #FF6600;
            display: inline-flex;
            color: #fff;
            font-size: 16px;
            border-radius: 30px;
            align-items: center;
            justify-content: center;
        }
    }

    &__contact {
        &__item {
            display: flex;
            align-items: start;
            gap: 20px;
            margin-bottom: 21px;

            &:last-of-type {
                margin-bottom: 0;
            }

            div {
                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #fff;
                    display: block;
                }

                a {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    display: inline-block;
                    color: var(--rr-color-common-white);

                    &:hover {
                        color: var(--rr-color-theme-primary);
                    }
                }
            }
        }
    }

    .copyright-content {
        margin-top: 113px;
        padding: 35px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        @include breakpoint(md) {
            margin-top: 80px;
        }

        @include breakpoint(sm) {
            margin-top: 70px;
        }
    }
}