@use "../utilities" as *;



.form-11 {
    // .mb-minus-30 {
    //     margin-bottom: -30px;
    // }
    &__thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include breakpoint(sm) {
            margin-bottom: 30px;
        }

        img {
            border-radius: 20px 0 0 20px;
            width: 100%;
            height: 100%;

            @include breakpoint(sm) {
                border-radius: 20px;
                width: 100%;
            }
        }
    }

    &__content {
        &__wrapper {
            background: #FFFFFF;
            box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            margin-top: -255px;
        }
    }

    &__wrapper {
        padding-left: 40px;
        padding-right: 70px;

        @include breakpoint(lg) {
            padding-right: 40px;
        }

        @include breakpoint(md) {
            padding: 10px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: #040401;
        margin-bottom: 0;
    }

    &__title {
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        letter-spacing: -1.44px;
        color: #040401;
        margin-top: 13px;
        margin-bottom: 28px;
    }

    &__input {
        input {
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 100%;
            padding: 16px 20px;
            margin-bottom: 20px;
            color: #878680;

            @include tp-placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                color: #878680;
            }
        }

        &:last-of-type {
            input {
                margin-bottom: 0;

                @include breakpoint(sm) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &__textarea {
        textarea {
            border: 1px solid #ddd;
            border-radius: 10px;
            width: 100%;
            height: 140px;
            color: #878680;
            padding: 10px 20px;
            margin-bottom: 11px;

            &:focus-visible {
                outline: 0;
            }

            @include tp-placeholder {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                color: #878680;
            }
        }
    }

    &__btn {
        .rr-secondary-btn {
            background: #EF1A22;
            text-transform: capitalize;
            padding: 19.5px 31.4px;
            width: 100%;
            border-radius: 10px;
            color: var(--rr-color-common-white);
        }
    }
}