@use "../utilities" as *;


.portfolio-9 {
    background: #4F2325;
    border-radius: 20px;

    &__item {
        position: relative;

        &:hover {
            .portfolio-9 {
                &__content {
                    opacity: 1;
                    visibility: visible;
                    bottom: 20px;

                    @include breakpoint(lg) {
                        bottom: 15px;
                    }
                }
            }
        }
    }

    &__thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    &__content {
        background: rgb(23 23 23 / 50%);
        border-radius: 10px;
        padding: 20px;
        bottom: 0px;
        left: 20px;
        right: 20px;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        transition: .3s;

        @include breakpoint(lg) {
            padding: 13px;
            left: 15px;
            right: 15px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: -0.7200000286102295px;
        color: #fff;
        margin-bottom: 0;

        @include breakpoint(sm) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &__section {
        border-radius: 20px;
        padding: 47px 0;
        width: 100%;
        height: 93%;
        background: rgb(255 255 255 / 5%);

        @include breakpoint(lg) {
            padding: 10px 0;
        }

        @include breakpoint(md) {
            padding: 47px 0;
        }

        @include breakpoint(sm) {
            padding: 10px 15px;
        }

        .section-heading {
            margin-bottom: 0;

            .sub-heading {
                font-weight: 300;
            }
        }

        .btn-brown {
            gap: 10px;
            font-weight: 600;
            padding: 18.5px 30.4px;
            background-color: transparent;
            color: var(--rr-color-common-white);
            border: 1px solid var(--rr-color-common-white);

            &:hover {
                border-color: transparent;
            }
        }
    }
}