@use "../utilities" as *;


.portfolio-8 {
    background-color: #2C4800;
    border-radius: 10px;

    &__item {
        width: 100%;
        
        &:hover {
            .portfolio-8 {
                &__text {
                    opacity: 1;
                    visibility: visible;
                    bottom: 30px;

                    @include breakpoint(lg) {
                        bottom: 10px;
                    }
                    @include breakpoint(sm) {
                        bottom: 20px;
                    }
                }
            }
        }
    }

    &__thumb {
        height: 100%;
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__text {
        background: rgb(44 72 0 / 80%);
        padding: 30px;
        border-radius: 10px;
        position: absolute;
        bottom: 0px;
        left: 30px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        @include breakpoint(lg) {
            padding: 15px;
            left: 15px;
            right: 15px;
        }

        @include breakpoint(sm) {
            padding: 20px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: #fff;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            margin-bottom: 10px;
        }
        @include breakpoint(sm) {
            font-size: 20px;
            margin-bottom: 0;
            line-height: 30px;
        }
    }

    &__dec {
        color: #fff;
        margin-bottom: 0;

        @include breakpoint(sm) {
            display: none;
        }
    }
}