@use "../utilities" as *;




.services-11 {
    background: #040401;
    border-radius: 40px 40px 0 0;

    &__tab {
        &__title {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.72px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
            color: #fff;

            @include breakpoint(sm) {
                font-size: 18px;
                margin-top: 10px;
            }
        }

        .nav-item {
            @include breakpoint(sm) {
                text-align: center;
                margin: 0 auto;
            }

            &:last-of-type {
                .nav-link {
                    margin-right: 0;
                }
            }
        }

        .nav-pills .nav-link.active,
        .nav-pills .show>.nav-link {
            background-color: var(--rr-color-theme-primary2);
        }

        .nav-link {
            display: block;
            padding: 41px 50.1px;
            text-align: center;
            color: #fff;
            background: rgb(255 255 255 / 10%);
            border-radius: 10px;
            margin-bottom: 30px;
            margin-right: 30px;

            @include breakpoint(sm) {
                padding: 15px;
                margin-bottom: 15px;
                margin-right: 15px;
            }
        }
    }

    &__top {
        &__wrapper {
            display: flex;
            align-items: end;
            justify-content: space-between;

            @include breakpoint(md) {
                display: block;
            }

            .section-heading {
                margin-bottom: 0px;

                .section-title {
                    margin: 0;
                }
            }
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
        color: #171717;
    }

    &__dec {
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        margin-bottom: 28px;
        margin-top: 22px;
        color: #040401;
    }

    &__list {
        margin-bottom: 5px;
        display: flex;
        align-items: start;
        gap: 42px;

        @include breakpoint(lg) {
            display: block;
        }

        ul {
            list-style: none;

            li {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                color: #040401;
                margin-bottom: 18px;
                display: flex;

                i {
                    font-size: 14px;
                    margin-right: 16px;
                    margin-top: 8px;
                }
            }
        }
    }

    &__text {
        @include breakpoint(sm) {
            margin-bottom: 30px;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            padding: 40px;
            border-radius: 10px;

            @include breakpoint(sm) {
                display: block;
                padding: 20px;
            }
        }
    }

    &__thumb {
        max-width: 510px;
        max-height: 356px;
        object-fit: cover;

        img {
            border-radius: 10px;
        }
    }

    &__btn {
        .rr-secondary-btn {
            background: #040401;
            padding: 18.5px 29.8px;
            color: var(--rr-color-common-white);
            i{
                margin-left: 10px;
            }
            &::before{
                background-color: #4F2325;
            }
        }
    }
}

.heading-slider-11 {
    background: #FF3600;
    padding: 9px;
    border-radius: 0 0 40px 40px;

    &.heading-slider-10 {
        border-radius: 0;
    }

    &__text {
        display: flex;
        align-items: center;
        gap: 30px;

        span {
            font-size: 60px;
            font-weight: 600;
            line-height: 72px;
            color: #fff;

            @include breakpoint(sm) {
                font-size: 40px;
            }
        }
    }

    &__active {
        .swiper-wrapper {
            transition-timing-function: linear;
        }

        .swiper-slide {
            width: auto;
        }
    }
}