@use "../utilities" as *;




.testimonial-10 {
    background: #155450;
    border-radius: 10px;

    &__item {
        background: #fff;
        border-radius: 10px;
        padding: 40px;

        @include breakpoint(xl) {
            padding: 30px;
        }
    }

    &__thumb {
        img {
            border-radius: 10px;
            margin-bottom: 37px;

            @include breakpoint(md) {
                width: 100%;
            }
        }
    }

    &__dec {
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        color: #171717;
        margin-bottom: 0;
        margin-top: 30px;
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 23px;

        @include breakpoint(lg) {
            display: block;
        }

        @include breakpoint(md) {
            display: flex;
        }

        @include breakpoint(sm) {
            display: block;
        }

        &__thumb {
            width: 100px;
            height: 100px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            >span {
                width: 35px;
                height: 35px;
                background: #FC8459;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid #fff;
                border-radius: 100px;
                color: #fff;
                font-size: 20px;
                position: absolute;
                right: -18px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__info {
            @include breakpoint(lg) {
                margin-top: 15px;
            }

            .name {
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 8px;
                color: var(--rr-color-common-black);

                @include breakpoint(xl) {
                    font-size: 25px;
                }
            }

            .position {
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                color: var(--rr-color-common-black);
            }
        }
    }
}