@use "../utilities" as *;




.testimonial-9 {
    background: #4F2325;
    border-radius: 20px;
    padding-bottom: 530px;
    position: relative;

    .swiper-wrapper{
        transition-timing-function: linear;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(137, 15, 19, 0) 0%, rgba(239, 26, 34, 0.6) 100%);

    }

    &__author {
        &__wrapper {
            background: #E4E4E4;
            border-radius: 20px;
            padding: 30px;
            position: relative;
            z-index: 1;

            @include breakpoint(sm) {
                padding: 0;
            }
        }

        display: flex;
        align-items: start;
        justify-content: space-between;

        &__text {
            .name {
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: -0.7200000286102295px;
                color: #171717;
                margin-bottom: 0;
            }

            .position {
                font-size: 16px;
                font-weight: 400;
                line-height: 28.8px;
                color: #171717;
            }
        }

        &__thumb {
            width: 100px;
            height: 100px;

            @include breakpoint(sm) {
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .div {
            display: flex;
            align-items: center;
            gap: 22px;

            @include breakpoint(sm) {
                display: block;
                text-align: center;
                margin: auto;
            }
        }
    }

    &__item {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 40px;
        padding-bottom: 50px;

        @include breakpoint(sm) {
            padding: 25px;
        }
    }

    &__dec {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #6E777D;
        margin-bottom: 0;
        margin-top: 44px;

        @include breakpoint(sm) {
            margin-top: 25px;
            font-size: 17px;
        }
    }

    &__bottom {
        &__wrapper {
            margin-top: -540px;

            @include breakpoint(md) {
                margin-top: -515px;
            }
        }
    }

}