@use "../utilities" as *;




.work-process-9 {
    background: #E4E4E4;
    border-radius: 20px;

    .section-heading {
        .section-title {
            font-size: 60px;
            @include breakpoint(md) {
                font-size: 40px;
            }
            @include breakpoint(sm) {
                font-size: 30px;
            }
            
        }
    }

    &__wrapper {
        background: var(--rr-color-common-white);
        padding: 40px;
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        @include breakpoint(lg) {
            padding: 30px 20px;
        }

        @include breakpoint(md) {
            padding: 30px;
        }

        @include breakpoint(sm) {
            padding: 20px;
        }

        &__1 {
            .number {
                background-color: #4F2325;
                color: var(--rr-color-common-white);
            }
        }
        &__2 {
            background-color: #4F2325;

            .number {
                background-color: var(--rr-color-common-white);
                color: #4F2325;
            }
        }

        &__3 {
            background-color: #EF1A22;

            .number {
                background-color: var(--rr-color-common-white);
                color: #6E777D;
            }
        }

        &__2,
        &__3 {
            .work-process-9 {
                &__title {
                    color: var(--rr-color-common-white);
                }

                &__dec {
                    color: var(--rr-color-common-white);
                }
            }
        }
    }

    &__content {
        .number {
            width: 54px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            margin: 0 auto;
            margin-bottom: 18px;
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            font-family: var(--rr-ff-heading);
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 0;
        color: var(--rr-color-common-black);

        @include breakpoint(sm) {
            font-size: 25px;
        }
    }

    &__dec {
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0 26px;
        color: var(--rr-color-common-black);

        @include breakpoint(xl) {
            padding: 0;
        }
    }

    &__thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}