@use "../utilities" as *;


.work-process-10 {
    &__item {
        padding: 35px 41px;
        position: relative;
        padding-bottom: 0;

        @include breakpoint(xl) {
            padding: 35px;
        }

        @include breakpoint(lg) {
            padding: 20px;
        }

        @include breakpoint(sm) {
            padding: 20px 15px;
        }

        .number {
            width: 70px;
            height: 70px;
            background: var(--rr-color-theme-primary2);
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            color: #FFFFFF;
            margin-bottom: 0;
            border-radius: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -0.72px;
            text-align: center;
            color: #171717;
            margin-bottom: 19px;
            margin-top: 10px;
        }

        .dec {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #000000;
            margin-top: 0;
            margin-bottom: 0;
        }

        .line-shape-01 {
            position: absolute;
            right: -108px;
            top: 58px;

            @include breakpoint(lg) {
                right: -105px;
                top: 40px;
            }
        }
    }
}