@use "../utilities" as *;




.latest-blog-9 {

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;

        .btn-brown {
            margin-bottom: -30px;

            &::before {
                background-color: var(--rr-color-theme-primary2);
            }

            @include breakpoint(sm) {
                margin-bottom: 0;
            }

            &:hover {
                color: var(--rr-color-common-white);
            }
        }
    }

    &-active {
        overflow: visible;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px;
        background: transparent;
        border: 1px solid #DDDDDD;
        border-radius: 20px;
        overflow: hidden;


        @include breakpoint(lg) {
            flex-direction: column;
            align-items: start;
        }

        &-media {
            min-width: 280px;

            @include breakpoint(xl) {
                min-width: 250px;
            }

            @include breakpoint(lg) {
                min-width: 100%;
            }

            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content {

            .title {
                margin-bottom: 18px;

                a {
                    font-size: 30px;
                    line-height: 36px;

                    &:hover {
                        color: #EF1A22;
                    }

                    @include breakpoint(lg) {
                        font-size: 28px;
                    }
                }
            }

            .read-more {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                gap: 12px;
                color: #232323;
                font-size: 14px;
                font-weight: 600;
                font-family: var(--rr-ff-heading);

                &:hover {
                    color: #EF1A22;
                }
            }
        }

        &__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 8px;

            li {
                font-size: 14px;
                font-family: var(--rr-ff-heading);
                font-weight: 600;

                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    text-transform: uppercase;

                    &:hover {
                        color: #EF1A22;
                    }
                }
            }
        }
    }
}