@use "../utilities" as *;

.cta-8 {
    
    &__area {
        margin-bottom: -141px;
    }

    &__wrapper {
        gap: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        padding: 82px 60px;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: space-between;
        align-items: center;
        
        @include breakpoint(md) {
            padding: 80px 40px;
        }

        @include breakpoint(sm) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 40px 20px;
        }

        &::before {
            top: 0; 
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(180deg, #2C4800 0%, rgba(49, 81, 0, 0.50) 52.06%, rgba(106, 174, 0, 0.60) 98.24%);
        }

        .content {
            position: relative;
            z-index: 2;

            .title {
                color: var(--rr-color-common-white);

                @include breakpoint(sm) {
                    text-align: center;
                    font-size: 29px;

                    br {
                        display: none;
                    }
                }
            }
        }

        .from-group {
            gap: 12px;
            z-index: 2;
            display: flex;
            width: 480px;
            position: relative;
            flex-direction: column;
            
            @include breakpoint(md) {
                align-items: center;
                width: 420px;
            }

            .form-control {
                padding: 22px 26px;
                border-radius: 10px;
                border: none;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                text-transform: uppercase;

                @include breakpoint(xs) {
                    padding: 16px 20px;
                }
                
                @include tp-placeholder{
                    color: #232323;
                    font-size: 14px;
                    font-weight: 500;
                }

                &:hover, &:focus {
                    box-shadow: none;
                }
            }

            .btn-green {
                color: var(--rr-color-common-white);
                background-color: var(--rr-color-theme-green2);
                border-radius: 10px;
                justify-content: center;
    
                @include breakpoint(sm){
                    margin: 0;
                    width: fit-content;
                }
            }
        }
    }
}