@use "../utilities" as *;
.customer-feedback {
    &__area {
        border-radius: 10px 10px 0px 0px;
        background-color: #2C4800;

        .section-heading {

            &.heading-2 {
                margin-bottom: 65px;

                @include breakpoint(xs) {
                    margin-bottom: 40px;
                }
                p {
                    margin-bottom: 0;

                    @include breakpoint(lg) {
                        br {
                            display: none;
                        }
                     }
                }
            }

            .section-title {
                @include breakpoint(lg) {
                   width: 100%;
                   max-width: 100%;
                }
            }
        }
        .swiper-wrapper{
            transition-timing-function: linear;
        }
    }
    &__slider-1__item {
        text-align: center;
        position: relative;
        border-radius: 10px;
        margin-bottom: 65px;
        padding: 29px;
        padding-top: 0;
        padding-bottom: 20px;
        background: rgb(255 255 255 / 5%);
        @include breakpoint(sm) {
            padding: 0px 10px 20px;
        }

        p {
            font-size: 20px;
            color: var(--rr-color-common-white);

            
            @include breakpoint(sm) {
                font-size: 18px;
            }
        }

    }

    &__media {
        width: 100px;
        height: 100px;
        border-radius: 500px;
        margin-left: auto;
        margin-right: auto;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-top: -50px;
            
        }
    }

    &__rating {
        margin-top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    &__content {

        @include breakpoint(md) {
            margin-top: 50px;
        }

        .btn-green {
            gap: 10px;
            display: inline-flex;
            align-items: center;
            color: var(--rr-color-common-white);
            background-color: var(--rr-color-theme-green2);

            @include breakpoint(sm){
                margin: 0;
            }
        }
    }

    &__btn-box {
        max-width: 340px;

        .rr-btn {
            border: 1px solid rgba(255, 255, 255, 0.24);
            background: rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(7px);
            color: var(--rr-common-white);
            font-size: 14px;
            font-weight: 600;
            padding: 12.5px 30px;

            &:not(:last-child) {
                margin-bottom: 10px;
                margin-right: 5px;
            }

            &::before {
                background-color: #36F165;
            }

            &:hover {
                color: var(--rr-common-black);
                border-color: transparent;
            }
        }
    }

    &__slider {

		&-wrapper {
			gap: 76px;
			height: 620px;
            padding-left: 64px;
            position: relative;

            @include breakpoint(md) {
                margin-top: 50px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                background: linear-gradient(0deg, rgba(44, 72, 0, 0.00) 0%, #2C4800 100%);
                left: 0;
                height: 128px;
                width: 100%;
                z-index: 9;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                background: linear-gradient(180deg, rgba(44, 72, 0, 0.00) 0%, #2C4800 100%);
                left: 0;
                height: 128px;
                width: 100%;
                z-index: 9;
            }

            @include breakpoint(lg) {
              padding-left: 0;
              gap: 50px;
            }
			
		}

		&-1 {
            @include breakpoint(xs) {
                display: none;
            }

			&-first-reverse {
				transform: rotate(180deg);
                width: 100%;

				.swiper-slide {
					transform: rotate(180deg);
				}
			}
			.swiper-slide {
				height: auto;
			}
		}
		&-2 {
            width: 100%;

            
			.swiper-slide {
				height: auto;
			}
			&__item {
				height: auto;
			}
		}
	}
  
}