@use "../utilities" as *;
.efficient-gardening {

    &__area {
        background-color: #2C4800;
        border-radius: 10px;
        padding-top: 90px;
        padding-bottom: 120px;
        position: relative;
    }
    &__content {
        .btn-green {
            gap: 10px;
            display: inline-flex;
            align-items: center;
            padding: 20px 32px;
            color: var(--rr-color-common-white);
            background-color: var(--rr-color-theme-green2);

            @include breakpoint(sm){
                margin: 0;
            }
        }
    }

    &__media {
        position: relative;
        display: flex;
        justify-self: end;
        margin-bottom: -24px;

        @include breakpoint(md) {
           margin-top: 60px;
        }

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(180deg, rgba(44, 72, 0, 0.00) 0%, #2C4800 100%);
            bottom: 0;
            width: 100%;
            height: 281px;
        }
    }

    &__item {
        display: flex;
        gap: 40px;
        border-radius: 10px;
        padding: 34px 40px;
        align-items: center;
        margin-bottom: 30px;
        background: rgb(255 255 255 / 5%);
        position: relative;
        z-index: 10;

        @include breakpoint(md) {
            flex-direction: column;
            gap: 20px;
            padding: 30px 20px;
        }

        &-icon {
            width: 98px;
            height: 98px;
            display: flex;
            align-items: center;
            min-width: 98px;
            justify-content: center;
            background-color: #6BC33F;
            border-radius: 500px;
        }

        &-text {

            @include breakpoint(md) {
                text-align: center;
            }
    
            .title {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
                color: var(--rr-color-common-white);
            }
            
            p {
                color: var(--rr-color-common-white);
            }
        }
    }

    &__botom-shape{
        position: absolute;
        bottom: 0;
    }
}
