@use "../utilities" as *;



.team-8 {
    background: #F6F3F2;

    &__thumb {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 500px 500px 0 0;
        }

        &:hover {
            .team-8 {
                &__social {
                    opacity: 1;
                    visibility: visible;
                    bottom: 20px;
                }
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        a {
            width: 26px;
            height: 26px;
            background: #F4FBF9;
            display: inline-block;
            font-size: 14px;
            color: #171717;
            border-radius: 50px;
            line-height: 28px;
            text-align: center;
            border: 1px solid #DDDDDD;

            &:hover {
                color: #2AB97E;
            }
        }
    }

    &__content {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 26px 0;

        .name {
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.7200000286102295px;
            margin-bottom: 0;

            a:hover {
                color: #6BC33F;
            }

            @include breakpoint(lg) {
                font-size: 20px;
            }
        }

        .position {
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            color: #6E777D;
            font-family: var(--rr-ff-body);
        }
    }
}


.mb-minus-30 {
    margin-bottom: -30px;
}

.brand-8__area {
    background: #6BC33F;
    padding: 80px 0;
    border-radius: 0 0 10px 10px;

    .swiper-wrapper{
        transition-timing-function: linear;
    }

    @include breakpoint(sm) {
        padding: 45px 0;
    }

    @include breakpoint(xs) {
        padding: 35px 0;
    }
}