@forward "components/theme";
@forward "components/buttons";

@forward "layout/header";
@forward "layout/slider";
@forward "layout/hero";
@forward "layout/about";
@forward "layout/service";
@forward "layout/goal";
@forward "layout/subscribe";
@forward "layout/team";
@forward "layout/testi";
@forward "layout/cta";
@forward "layout/choose-us";
@forward "layout/faq";
@forward "layout/sponsor";
@forward "layout/sidebar-area";
@forward "layout/project";
@forward "layout/skill";
@forward "layout/feature";
@forward "layout/counter";
@forward "layout/booking";
@forward "layout/pricing";
@forward "layout/process";
@forward "layout/exp";
@forward "layout/blog";
@forward "layout/page-header";
@forward "layout/service-details";
@forward "layout/project-details";
@forward "layout/team-details";
@forward "layout/contact";
@forward "layout/blog-details";
@forward "layout/error";
@forward "layout/footer";



@forward "update/work-process-8";
@forward "update/team-8";
@forward "update/blog-8";
@forward "update/faq-8";
@forward "update/portfolio-8";
@forward "update/experience-8";
@forward "update/header-9";
@forward "update/hero-9";
@forward "update/winning-award";
@forward "update/customer-feedback";
@forward "update/cta";
@forward "update/footer";
@forward "update/efficient-gardening";



@forward "update/portfolio-9";
@forward "update/counter-9";
@forward "update/work-process-9";
@forward "update/faq-9";
@forward "update/hero-8";
@forward "update/about-9";
@forward "update/team-9";
@forward "update/blog-9";
@forward "update/cta-9";
@forward "update/services-9";
@forward "update/testimonial-9";
@forward "update/footer-9";


@forward "update/services-10";
@forward "update/testimonial-10";
@forward "update/faq-10";
@forward "update/hero-10";
@forward "update/blog-10";
@forward "update/winning-award-10";
@forward "update/about-10";
@forward "update/work-process-10";
@forward "update/portfolio-10";
@forward "update/cta-10";
@forward "update/footer-10";


@forward "update/header-11";
@forward "update/hero-11";
@forward "update/about-11";
@forward "update/services-11";
@forward "update/testimonial-11";
@forward "update/work-process-11";
@forward "update/counter-11";
@forward "update/faq-11";
@forward "update/form-11";
@forward "update/blog-11";
@forward "update/our-work-11";
@forward "update/footer-11";
@forward "update/animation";
