@use "../utilities" as *;

/**----------------------------------------
START: Choose CSS
----------------------------------------*/

//choose-us-section 4

.choose-us-4{
    overflow: hidden;
    .choose-thumb{
        position: relative;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
            @include breakpoint(md){
                height: 425px;
            }
        }
        .choose-play{
            a{
            background: var(--rr-color-common-white);
            display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
            border-radius: 20px 0px;
            position: absolute;
            bottom: 0;
            right: -1px;
            z-index: 1;
            }
            .choose-play-icon{
                background: var(--rr-color-theme-green);
                width: 66px;
                height: 66px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                i{
                    color: var(--rr-color-common-white);
                }
            }
            .choose-play-heading{
                font-family: var(--rr-ff-heading);
                font-weight: var(--rr-fw-bold);
                color: var(--rr-color-common-dark);
                font-style: normal;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
    .choose-us-4-content{
        margin-left: 50px;

        @include breakpoint(md){
            margin-left: 0;
            margin-top: 40px;
        }
    }
    .choose-items{
        .choose-item{
            .choose-content{
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 16px;
                .choose-icon{
                    background: var(--rr-color-common-white);
                    width: 56px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #DDDDDD;
                    border-radius: 50%;
                }
                .choose-heading{
                    font-family: var(--rr-ff-heading);
                    color: var(--rr-color-heading-primary);
                    font-weight: var(--rr-fw-bold);
                    font-style: normal;
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: -0.72px;
                    margin-bottom: 0;
                    @include breakpoint(sm){
                        font-size: 19px;
                        line-height: 30px;
                    }
                }
            }
            .dec{
                font-family: var(--rr-ff-body);
                color: var(--rr-color-text-body);
                font-weight: var(--rr-fw-regular);
                font-style: normal;
                font-size: 16px;
                line-height: 29px;
            }
        }
    }
}

//choose-us-section 5

.choose-us-5{
    .choose-content-5{
        .section-heading-4{
            .sub-heading{
                letter-spacing: 0;
                padding-left: 0;
                &:before{
                    display: none;
                }
            }
        }
        .choose-item-wrap{
            @include breakpoint(md){
                width: calc(100% - 33%);
                margin-bottom: 30px;
            }
            @include breakpoint(sm){
                width: 100%;
                margin-bottom: 30px;
            }
            .choose-items{
                display: flex;
                align-items: center;
                .choose-item{
                    .title{
                        font-family: var(--rr-ff-heading);
                        color: #232323;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: -0.72px;
                        margin-bottom: 0;
                        @include breakpoint(sm){
                            font-size: 20px;
                            line-height: 30px;
                            margin-bottom: 10px;
                        }
                    }
                    .dec{
                        font-family: var(--rr-ff-body);
                        color: #6E777D;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 29px;
                        margin-bottom: 0;
                        @include breakpoint(sm){
                            line-height: 25px;
                        }
                    }
                }
                .choose-item-2{
                    padding-right: 20px;
                    border-right: 1px solid #DDDDDD;
                }
                .choose-item-3{
                    padding-left: 20px;
                }
            }
            .choose-items-2{
                border-bottom: 1px solid #DDDDDD;
            }
        }
    }
    .choose-img-wrap{
        // position: absolute;
        display: flex;
        justify-content: end;
        .right-item{
            background: var(--rr-color-theme-secondary);
            padding: 30px;
            width: 222px;
            border-radius: 20px;
            position: absolute;
            bottom: 0;
            left: -63px;
            z-index: 1;
            border: 10px solid var(--rr-color-common-white);
            @include breakpoint(sm){
                left: 0;
            }
            .title{
                font-family: var(--rr-ff-heading);
                color: #000000;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                text-align: center;
                letter-spacing: -1.44px;
                margin-bottom: 0;
            }
            .dec{
                font-family: var(--rr-ff-heading);
                color: #232323;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        .right-img{
            max-width: 520px;
            width: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }
}