@use "../utilities" as *;

/**----------------------------------------
START: Choose CSS
----------------------------------------*/

//sponsor-section 4
.sponsor{
    .sponsor-item{
        a{
            color: #232323;
            opacity: 0.3;
        }
    }
}

// sponsor 5
.sponsor-5{
    .content-5{
        background: #FEDB5C;
        padding: 80px 0; 
    }
}

// sponsor 6
.sponsor-6{
    .content-6{
        background: #171717;
        padding: 90px 0; 
    }
}