@use "../utilities" as *;

/**----------------------------------------
START: Subscribe CSS
----------------------------------------*/
.subscribe-section{
    position: relative;
    z-index: 1;
    .bg-color{
        background-color: var(--rr-color-heading-primary);
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.subscribe-wrap{
    background-color: var(--rr-color-grey-1);
    padding: 0 50px;
    position: relative;
    z-index: 1;
    @include breakpoint(sm){
        padding: 50px 20px 0 20px;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .shape{
        background-color: var(--rr-color-theme-primary);
        width: 190px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 80px;
        transform: skew(-25deg);
        z-index: -1;
        @include breakpoint(md){
            left: 0;
            width: 150px;
        }
        @include breakpoint(sm){
            display: none;
        }
    }
    .subscribe-man{
        text-align: center;
        padding-right: 30px;
    }
    .subscribe-content{
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 70px;
        flex-wrap: wrap;
        row-gap: 20px;
        @include breakpoint(lg){
            column-gap: 40px;
        }
        .section-heading{
            margin-bottom: 0;
            .section-title{
                margin-bottom: 0;
                font-size: 43px;
                @include breakpoint(md){
                    font-size: 36px;
                }
            }
        }
        .subscribe-form{
            max-width: 430px;
            width: 100%;
            position: relative;
            .form-control{
                border: 1px solid var(--rr-color-border-1);
                padding: 21px 162px 21px 20px;
                box-shadow: none;
                border-radius: 0;
                @include tp-placeholder{
                    color: var(--rr-color-text-body);
                }
            }
            .rr-primary-btn{
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
            }
        }
    }
}

// subscribe-7

.subscribe-7{
    position: relative;
    overflow: hidden;
    .shape-7{
        position: absolute;
        top: 0;
        left: -138px;
    }
    .subscribe-bg-color{
        position: absolute;
        background: var(--rr-color-theme-primary);
        width: 6796px;
        height: 100%;
        right: 12px;
        top: 0;
        z-index: -1;
        @include breakpoint (md){
            right: 0;
        }
    }
    .subscribe-wrap-7{
        padding: 175px 0 90px 0;
        .subscribe-content-7{
            .title{
                font-family: var(--rr-ff-heading);
                color: var(--rr-color-common-white);
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                letter-spacing: -1.44px;
                margin-bottom: 20px;
                @include breakpoint (md){
                    br{
                        display: none;
                    }
                }
            }
            .dec{
                font-family: var(--rr-ff-body);
                color: var(--rr-color-common-white);
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 29px;
                margin-bottom: 0;
                @include breakpoint (md){
                    br{
                        display: none;
                    }
                }
            }
        }
        .subscribe-from-7{
            @include breakpoint (sm){
                margin-top: 20px;
            }
            .rr-subscribe-form{
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
                .form-control{
                    background: transparent;
                    border: 2px solid var(--rr-color-common-white);
                    font-family: var(--rr-ff-body);
                    border-radius: 5px;
                    max-width: 389px;
                    width: 100%;
                    height: 60px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    &:focus{
                        box-shadow: none;
                    }
                    @include tp-placeholder{
                        color: var(--rr-color-common-white);
                        font-size: 16px;
                        line-height: 29px;
                    }
                }
                .subscribe-btn-7{
                    background: var(--rr-color-common-white);
                    color: var(--rr-color-heading-primary);
                    font-family: var(--rr-ff-heading);
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: uppercase;
                    padding: 19px 30px;
                    &::before{
                        background: var(--rr-color-heading-primary);
                    }
                    &:hover{
                        color: var(--rr-color-common-white);
                    }
                }
            }
        }
    }
}

/* !END:  Subscribe CSS */
