@use "../utilities" as *;

/**----------------------------------------
START: Cta CSS
----------------------------------------*/

// cat-5
.cta-5{
    position: relative;
    z-index: 2;
    margin-top: -240px;
}

.cta-wrapper-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--rr-color-common-white);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 0;
    flex-wrap: wrap;
    @include breakpoint(xl){
        flex-wrap: nowrap;
    }
    @include breakpoint(lg){
        flex-wrap: nowrap;
    }
    @include breakpoint(md){
        flex-wrap: wrap;
        display: block;
    }
    .content-5{
        padding: 0 0 0 60px;
        @include breakpoint(lg){
            padding: 60px 15px 60px 30px;
        }
        .sub-title{
            font-family: var(--rr-ff-heading);
            color: var(--rr-color-theme-green);
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .title{
            font-family: var(--rr-ff-heading);
            color: var(--rr-color-heading-primary);
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: -1.44px;
            margin-bottom: 0;
            @include breakpoint(xl){
                font-size: 36px;
                line-height: 48px;
                br{
                    display: none;
                }
            }
            @include breakpoint(lg){
                font-size: 36px;
                line-height: 48px;
                br{
                    display: none;
                }
            }
            @include breakpoint(sm){
                font-size: 36px;
                line-height: 46px;
            }
        }
        .cta-btn-5{
            display: flex;
            align-items: center;
            gap: 30px; 
            margin-top: 30px;
            row-gap: 15px;
            flex-wrap: wrap;
            .btn{
                background-color: var(--rr-color-theme-secondary);
                font-family: var(--rr-ff-heading);
                color: #232323;
                padding: 15px 36px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
                border-radius: 999px;
                text-transform: uppercase;
                &:hover{
                    background-color: var(--rr-color-heading-primary);
                    color: var(--rr-color-common-white);
                }
            }
            .icon-box{
                display: flex;
                align-items: center;
                gap: 12px;
                .icon{
                    background-color: var(--rr-color-theme-green);
                    color: var(--rr-color-common-white);
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .number{
                    span{
                        display: block;
                        font-family: var(--rr-ff-body);
                        color: #6E777D;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 29px;
                        margin-bottom: 0;
                    }
                    a{
                        font-family: var(--rr-ff-heading);
                        color: var(--rr-color-heading-primary);
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        text-transform: uppercase;
                        @include transition(all 0.3s ease-in-out);
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .media-5{
        position: relative;
        @include breakpoint(md){
            margin: 0 15px;
        }
        @include breakpoint(sm){
            margin: 0 15px;
        }
        .thumb-5{
            @include breakpoint(lg){
                height: 338px;
            }
            @include breakpoint(md){
                height: 100%;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 0 20px 20px 0;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
                object-fit: cover;
            }
        }
        .icon{
            background: var(--rr-color-theme-secondary);
            width: 100px;
            height: 100px;
            position: absolute;
            top: 35%;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 8px solid var(--rr-color-common-white);
        }
    }
}

//footer cta 7
.footer-cta-7{
    .footer-cta-wrap-7{
        background: var(--rr-color-theme-primary);
        padding: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 15px;
        position: relative;
        z-index: 2;
        margin-bottom: -95px;
        @include breakpoint (sm){
            padding: 30px;
            column-gap: 30px;
        }
        .footer-cta-socila{
            .social-list{
                display: flex;
                align-items: center;
                gap: 20px;
                li{
                    list-style: none;
                    a{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 15px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .footer-cta-contact{
            display: flex;
            align-items: center;
            gap: 14px;
            .icon{
                background: rgb(255 255 255 / 20%);
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
            .contact{
                span{
                    font-family: var(--rr-ff-heading);
                    color: var(--rr-color-common-white);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 29px;
                    display: block;
                    margin-bottom: 3px;
                }
                a{
                    font-family: var(--rr-ff-heading);
                    color: var(--rr-color-common-white);
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 36px;
                    letter-spacing: -0.72px;
                    @include transition (all 0.3s ease-in-out);
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

//contact-cta-7
.contact-cta-7{
    position: relative;
    .shape-7{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
    }
}