backend:
  name: git-gateway
  branch: main

media_folder: "static/uploads"
public_folder: "/uploads"

publish_mode: editorial_workflow

collections:
  - name: "pages"
    label: "Pages"
    folder: "src/pages"
    create: true
    slug: "{{slug}}"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Hero Title", name: "hero_title", widget: "string", required: false }
      - { label: "Hero Subtext", name: "hero_sub", widget: "string", required: false }
      - { label: "SEO Description", name: "seo_description", widget: "string", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
