$colors: (
    "common": (
        "white": #ffffff,
        "black": #000000,
        "dark": #232323,
    ),
    "heading": (
        "primary": #171717,
    ),
    "text": (
        "body": #6E777D,
    ),
    "theme": (
        "primary": #FF6600,
        "primary2": #FF3600,
        "secondary": #FEDB5C,
        "green": #2AB97E,
        "green2": #6BC33F,
        "yellow": #FEDB5C,
        "dark": #232323,
    ),
    "grey": (
        "1": #F8F8F8,
    ),
    "border": (
        "1": #ddd,
    ),
);
